= raw @post.content
- @post.images.each do |image_field|
  = link_to image_tag(image_field.image.url(:thumb)), image_field.image.url(:original), :rel => "prettyPhoto", :id =>1

:javascript
  $("a[rel^='prettyPhoto']").prettyPhoto({social_tools: false, theme: 'light_square'});