= form_tag url_for(:action => "search"), :class => 'search_response', :remote => true do
  = text_field_tag :search, params[:search], :class => "search", :autofocus => true
  = submit_tag "Search", :class => 'search_button'