- tag_cloud(@all_tags, {}) do |tag, css_class|
  %a.btn.btn-mini{:href => tags_posts_path(:include_tag => tag.name), "data-remote" => true}
    -if @include_tags.member?(tag.name) 
      %i.icon-ok-circle
    = tag.name
  %a.btn.btn-mini{:href => tags_posts_path(:exclude_tag => tag.name), "data-remote" => true}  
    -if @exclude_tags.member?(tag.name) 
      %i.icon-remove
    -else
      %i.icon-ok
    


  
  